@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body {
    align-items: center;
}

.wrapper {
    width: 100%;
    height: auto;
}

.carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;

}

.carousel .card {
    color:none;
    margin: 20px 0;
    line-height: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    
}

.carousel .card-1 {
    background-image: url("../images/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel .card-2 {
    background-image: url("../images/2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel .card-3 {
    background-image: url("../images/9.png");
    background-image: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel .card-4 {
    background-image: url("../images/8.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel .card-5 {
    background-image: url("../images/6.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel .card-6 {
    background-image: url("../images/4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 10px;
    width: 40px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #0072bc!important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.owl-dot.active, .owl-dot:hover {
    background: #0072bc!important;
}

#visi{
    visibility: hidden;
}
.section-title{
    align-self: center;
    align-content: center;
    text-align: center;
}
.card{
    height: 400px;
    width:auto;

}