@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#about .container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p#waste {
    color: blue;
    font-size: 1.5rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: .05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color: crimson;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    background-color: crimson;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
}

.brand h1 span {
    color: rgb(0, 243, 203);
}

div .brand h1 span {
    font-family: 'Baloo Bhai 2', cursive;
}


/* Services Section */

#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top {
    max-width: 500px;
    margin: 0 auto;
}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .9;
    z-index: -1;
}

#services .service-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#services .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p {
    color: white;
    text-align: left;
}


/* End Services Section */


/* About Section */

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: -94px auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}

#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}


/* End About Section */


/* contact Section */

#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contact .contact-items {
    width: auto;
}

#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}

#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 8px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    /* margin-bottom: 5px; */
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}


/*End contact Section */


/* Footer */

#footer {
    background-image: linear-gradient(60deg, #f11873e5 0%, #21bceb 100%);
    align-items: center;
    align-self: center;
    text-align: center;
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: .3s ease filter;
    align-items: center;
    justify-content: center;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p {
    color: white;
    font-size: 1.3rem;
}


/* End Footer */


/* Keyframes */

@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: crimson;
        font-weight: 500;
    }
}


/* End Keyframes */


/* medai query for laptop */


/* @media only screen and (min-width: 1200px) {
    .glow {
        color: rgb(4, 243, 252);
        text-decoration: none;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
        animation-duration: 3s;
    }
    @-webkit-keyframes glow {
        from {
            text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #7ecbf8f8, 0 0 20px #7d9dcc, 0 0 20px #718ad1, 0 0 20px #6a79cc, 0 0 20px #5febf5;
        }
        to {
            text-shadow: 0 0 10px #fff, 0 0 20px #ff4dd8, 0 0 15px #ff4da6, 0 0 18px #ff4da6, 0 0 20px #ff4dd8, 0 0 18px #ff4de7, 0 0 20px #ff4dc4;
        }
    }
} */


/* Media Query For Tablet */

@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }
    /* Hero */
    #hero h1 {
        object-fit: cover;
        font-size: 7rem;
    }
    /* End Hero */
    /* Services Section */
    #services .service-bottom .service-item {
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End Services Section */
    /* Project */
    #projects .project-item {
        flex-direction: row;
    }
    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projects .all-projects .project-info {
        height: 100%;
    }
    #projects .all-projects .project-img {
        height: 100%;
    }
    /* End Project */
    /* About */
    #about .about {
        flex-direction: row;
    }
    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;
    }
    #about .col-right {
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1 {
        text-align: left;
    }
    /* End About */
    /* contact  */
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon {
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /* End contact  */
}

div .home_text {
    color: #fff;
    transition: all 0.7s;
}

h2 #kamlesh {
    color: rgb(16, 250, 238);
    transition: all 0.7s;
}

h2 #kamlesh:hover {
    color: rgb(248, 84, 19);
    text-decoration: none;
}


/* maalik ka friends */

.malik-wrapper {
    margin-top: 10%;
}

.malik-wrapper h1 {
    /* font-family: 'RocknRoll One', Times, serif; */
    color: black;
    font-size: 50px;
    margin-top: 60px;
    text-align: center;
}

.team {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: auto;
    justify-content: center;
}

.team .team-member {
    background-color: white;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 10px;
    color: #8e8b8b;
    padding-left: 20px;
    position: relative;
    border-radius: 50px;
}

.team .team-member h3 {
    color: #81c644;
    font-size: 26px;
    margin-top: -35px;
    margin-bottom: 30px;
}

.team .team-member .team-img {
    width: 100px;
    height: 100px;
    margin: 40px;
    top: 36%;
    left: 10%;
    transform: translate(40%, 5%);
    background-color: white;
}

.team .team-member .team-img img {
    width: 82px;
    height: 83px;
    top: 50%;
    left: 50%;
}


/* maalik ke friends end  */

div .contact-item input {
    padding: 8px 43px;
    border-radius: 38px;
    color: black;
    font-size: 23px;
    border: 2px solid black;
    transition: all 0.7s ease;
}

div .contact-item input:hover {
    background-color: rgb(255, 51, 51);
    border: 2px solid rgb(0, 0, 0);
}
